@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<NavMenu @rendermode="InteractiveServer" />

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>