@inherits LayoutComponentBase
@layout AccountLayout

<div class="manage-page">
    <div class="manage-header mb-3">
        <i class="bi bi-person-gear manage-header-icon"></i>
        <span class="manage-header-title">Account Settings</span>
    </div>
    <div class="row g-3">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
